<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="Binding1"
     closeTimeout="00:01:00"
     openTimeout="00:01:00"
     receiveTimeout="00:10:00"
     sendTimeout="00:01:00">
          <binaryMessageEncoding />
          <tcpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="65536" hostNameComparisonMode="StrongWildcard"
                        maxBufferSize="65536" maxPendingConnections="10" channelInitializationTimeout="00:01:00"
                        transferMode="Buffered" listenBacklog="10" portSharingEnabled="false" teredoEnabled="false">
          </tcpTransport>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="tcpBinding" receiveTimeout="05:15:00" sendTimeout="05:15:00"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBeh">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="OlibWCF.ServiceChat" behaviorConfiguration="mexBeh">
        <endpoint address="" binding="netTcpBinding" contract="OlibWCF.IServiceChat" bindingConfiguration="tcpBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>